<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  
  <meta property="og:title" content="a random unsecured camera" />
  <meta property="og:image" content="{{ url_for('static', filename='searching.png') }}" />
  <meta property="og:url" content="https://braydenmoore.com/cam" />
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="preload" href="{{ url_for('static', filename='eye.gif') }}" as="image">
  <link rel="icon" type="image/png" href="https://i.ibb.co/gvKPXJD/eye.gif">
    <title>{{ page_title|safe }}</title>
    <style>

    </style>
</head>

<body style="background-color: black;">
    <div class="outer-container">
            <div class="flex-container">

                    <div id="feed-div">
                      <img id="feed" class="feed" src="static/eye.gif" />
                    </div>

              
                    <div class="info" id="info">
                      <h1 id="country" style="color:rgb(53, 53, 53); margin-top: 10px; font-family: 'Helvetica'; font-weight: 50; margin-bottom: 10px;"> searching...</h1>        
                      <a href="{{ ip_link }}" target="_blank"> <h3 style="border-bottom: 2px solid yellow;" id="location-name">{{ page_title|safe }}</h3></a>

                      <div style="display: flex; margin-top: 22px; margin-bottom: 0%;">
  
                        <a href="?new=true" style="margin-right: 10px; display: inline-block;">
                          <button class="hoverButton" style="border-radius: 5px; border: 2px solid yellow; background-color: transparent; padding: 10px;">
                            another
                          </button>
                        </a>
                        <!--<a  class="abortButton" href="?new=false&id={{ id }}" id="refreshSameFeedButton" style="display: inline-block;">-->
                        <a  class="abortButton" href="?new=false&id={{ id }}" id="refreshSameFeedButton" style="display: inline-block;">
                          <button class="hoverButton" style="border-radius: 5px; border: 2px solid rgb(53, 53, 53); background-color: transparent; padding: 10px;">
                            refresh
                          </button>
                        </a>
                        
                        <i id="share" class="fa-solid fa-link" data-id="{{ id }}"></i>
                        <p id="copied" class="tag" style="visibility: hidden;">copied</p>
                      </div>

                        <p id="info-text" style="color:rgb(53, 53, 53); font-family: 'Helvetica'; font-weight: 50;">

                          time: <span id="time"></span><br>

                          <span id="additional-info">
                            owner: {{ owner }}<br>
                            ip: {{ ip }}<br>  
                            lat, lon: {{ loc }}
                          </span>
                          
                          <span id="show-more">more <i style="margin-bottom:20px; color:rgb(53, 53, 53);" id="more-button" class="fa-solid fa-caret-down"></i></span>

                          <span class="tag"><br>a brayden moore website<br></span>
                          thanks for visiting<br>
                          <a href="https://huggingface.co/spaces/BraydenMoore/a-random-unsecured-camera/tree/main" target="_blank">see the code</a>
                        
                        </p>
                    

                      <!--
                        <div class="map-div">
                            <img id="map" src="{{ url_for('static', filename='map_populated.png') }}" style="width: 100%; height: 100%;" />
                            <div class="dot" style="left: {{ X }}%; top: {{ Y }}%;"></div>
                            <div class="pulse" style="left: {{ X }}%; top: {{ Y }}%;"></div>
                        </div>
                      -->
                    </div>

                </div>
    </div>


<script>
  let loadingGif = "{{ url_for('static', filename='eye.gif') }}";
  let newUrl = "{{ url|safe }}";
  let page_title = "{{ page_title|safe }}";
  let location_name = "{{ name|safe }}";
  let country = "{{ country }}";
  let timezone = "{{ timezone }}";
</script>
<script src="static/client.js"></script>
</body>
</html>
